*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    text-align: center;
   min-height: 600px;
    padding: 100;
    background-image: url('1.jpeg');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
nav{
    color: white;
padding: 25px;
display: flex;
justify-content: space-around;

background: linear-gradient(90deg, #8F0505 0%, #3BB7E5 100%);
}
.nav-link{
    text-decoration: none;
    color: white;
}
.logo{
    color: blue;
    /* God of War Рогнарек */



font-family: 'Roboto';

font-weight: 400;
font-size: 50px;


background: linear-gradient(180deg, #334A6E 0%, #333665 49.52%, #3D0000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


}
.rosbr{
    
    margin: 0;
    color: white;
    background-color: black;
}
.rosr{
    text-align: center;
    font-size: 50px;
    color: white;
    
    
    
}
.weapon-log{
    text-align: center;
    font-size: 100px;
    margin: 0;
}

.haos{

    margin: 0;
    display: flex;

}
.lef{
    margin: 0;
    padding: 10px;

    
    
}

.weapons{
    background: #6e1e1e;
    background: linear-gradient(180deg, rgba(110, 30, 30, 1) 0%, rgba(29, 160, 253, 1) 51%, rgba(235, 247, 101, 1) 100%);
    margin: 0;
    
}



.info-text {
    margin: 0;
}
.all_monstr{
    background-color: black;
    color: white;
        font-size: 36px;
    
    
}

.pers-log{
    background:linear-gradient(90deg, #8F0505 0%, #3BB7E5 100%) ;
    margin: 0;
    text-align: center;
    padding: 10px;
        font-size: 36px;
}

.monstr_h1{
    background-color: black;
    color:white; 
    padding: 0;
    margin: 0;
    text-align: center;
}
.monstr{
    display: flex;
    padding: 20px 100px 0 0;
    gap: 60px;
    align-items: center;
}

.monstr img{
    width: 300px;
    height: 250px;
}
.pers img{
     width: 300px;
    height: 250px;
    
}
.personags{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color: red;
    gap: 50px;
    font-size: 36px;
}
.pers{
    width: 300px;
}
.bosses{
           font-size: 36px;
   
    background-image: url('forest.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 0 0 5px white;
    
}

.boss{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.boss h2{
    width: 500px;
}

.boss img {
     width: 400px;
}

.boss div{
     width: 400px;
}
.bosses-log{
background-color: black;
color: black;
text-shadow: 0 0 10px red;
margin: 0;
padding: 10px;
text-align: center;
font-size: 100px;
}

.info{
    font-size: 25px;
    background-color:#490202;
    color: red;
    text-shadow: 0 0 100px black;
    margin: 0;
    
}
.info-log{
    margin: 0;
    text-align:  center;
    
    
    
    
}
